body {
    font: 14px "맑은 고딕";
}

.container{
    border: 1px solid #ccc;
    width: 960px;
    margin: 0 auto;
}
header {
    color: white;
    position: relative;
    height: 280px;
    font-size: 3em;
    background-image: url(../images/bg.png);
    background-position:left top;
    background-repeat: no-repeat;
}
header > h1 {
    position: absolute;
    right: 20px;
    bottom: 40px;
    font-size: 2em;
}
header > h2 {
    position: absolute;
    right: 15px;
    bottom: 5px;
    font-size: 1.2em;
}